tester
x86/icount
x86/icount.tar
x86/memory
x86/memory.tar
x86/reg
x86/reg.tar
x86/runme.sh
x86/*.out
arm64/icount
arm64/icount.tar
arm64/memory
arm64/memory.tar
arm64/runme.sh
arm64/threads.tar
arm64/threads
arm64/*.tar
arm64/contention
arm64/*.out
